html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    box-sizing: border-box;
    box-sizing: border-box;
    /* overflow: hidden; */
   
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;

}
/* defined classes */
.btn.btn-style{
  color:  #E4E8F1;
  background: #354157;
  border-radius: 50px;
  border: none;
  text-transform: uppercase;
  padding: 10px 36px;
  transition: all 0.5s ease;
  font-weight: 600;
  margin-bottom: 0.5rem !important;
}
.btn.btn-style:hover{
  color:  #E4E8F1;
  background: #222a38;
}
.page-style{
  padding: 3rem !important;
}


.landing-div{
  padding: 0 3rem;
}

.blink-header h2{
  color: white;
}
.blink-header p{
  color: #93A4B8;
}
.card-style{
  width: 24%; 
  margin:0.5rem 0;
  border-radius: 16px !important;
  border: none !important;
  overflow: hidden;
  background-color: black !important;
}
.card-style .card-top{
  height: 210px;
  position: relative;
  z-index: 1;
  background: #20283b;

}
.card-style .card-top img{
  width: 276px;
  /* height: 250px; */
  position: absolute;
  filter: drop-shadow(0px 8px 14px rgba(0, 0, 0, 0.48));
  left: 50%;
top: 60%;
transform: translate(-50%,-50%);
  /* top: 10px; */
}
.card-style .card-body{
  background: #354157;
  z-index: 500;
  /* border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px; */
}
.card-style .card-body h5{
  color: white;
}
.card-style .card-body p{
  color:#65758E
}

.invest-page.container-fluid{
  padding-top: 0rem !important;
}
.investment-left{
  width: 40%;
}
.investment-left h2{
  color: white;
}
.investment-left p{
  color: #93A4B8;
}



.investment-right{
  width: 60%;
}
.invest-card{
  width: 32%;
  margin: 0.5rem 0;
  background-color: black !important;
  border: none !important;
  border-radius: 12px !important;
  overflow: hidden;
}
.invest-card .card-top{
  position: relative;
 height: 130px;
 background: #10172A;
}
.invest-card .card-top p{
  position: absolute;
  color: #F7FBFE;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  top: 12px;
  left: 13px;
 
}
.invest-card .card-top img{
  position: absolute;
  width: 150px;
  height: 150px;
  /* left: calc(50% - 149.65px/2 + 80.41px);
  top: calc(50% - 149.65px/2 + 18.54px); */
  right:2px;
  top: 25px;
  /* mix-blend-mode: normal; */
/* filter: drop-shadow(0px 8px 14px rgba(0, 0, 0, 0.48)); */
transform: rotate(1.2deg);
}
.invest-card .card-body{
  background: #20283B;
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* z-index: 500; */
}

.invest-card .card-body p{
  color: #E4E8F1;
  
  /* font-style: normal; */
  font-weight: 400;
  font-size: 14px;
  line-height: 15px;

}

/* Knowledge container styling */
.know-card .card-body h5{
  font-size: 18px !important;
  font-weight: 500;
  line-height: 30px;
}
.know-card .card-body p{
  margin: 0 !important;
}

.know-card,.offer-card{
  width: 96% !important;
  cursor: pointer;
}
.slick-dots li.slick-active{
  color: white;
  /* background-color: white; */
  /* border-radius: 50%; */
}
.slick-dots li.slick-active button::before{
  color: white !important;
}
.slick-dots li button::before{
  color: white !important;
}


/* offer page styling */
.offer-card .card-top{
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}



.invest-form-div{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  width: 100% !important;
}
.invest-form-div .invest-form-text{
  width: 40%;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.invest-form-div .invest-form-text h1{
  color: white;
}

.invest-form-div .invest-form-text .form-input{
  width: 80%;
  /* border: 1px solid white; */
  margin-top: 0.5rem;
  position: relative;
}
.invest-form-div .invest-form-text .form-input input{
  width: 100%;
  padding: 1rem 1rem;
  outline: none;
  background: #354157;
  color: #93A4B8;
  border: none;
  border-radius: 30px;
}
.invest-form-div .btn{
  position: absolute !important;
  right: 5px !important;
  top: 50%;
  transform: translate(0,-50%);
  /* width: 30% !important; */
}
.invest-form-div .invest-form-text .form-input input::placeholder{
  font-size: 16px;
  padding: 0.5rem;
}

.invest-form-div .img1{
  position: absolute;
  top: 0;
  left: 20%;
  width: 80px;
  height: 140px;
}
.img2{
  position: absolute;
  width: 30px;
  height: 70px;
  left: 10%;
  top: 50%;
}
.img3{
  position: absolute;
  width: 60px;
  height: 100px;
  bottom: 0;
  left: 15%;
}
.img4{
  position: absolute;
  width: 60px;
  height: 100px;
  bottom: 0;
  right: 15%;
}
.img5{
  position: absolute;
  width: 30px;
  height: 80px;
  top: 50%;
  right: 5%;
}
.img6{
  position: absolute;
  width: 100px;
  height: 140px;
  top: 5%;
  right: 10%;
}


.container2{
  height: auto;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem;
}


.jm{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80%;
  height: 15rem;
  background-color: #10172A;
  border-radius: 24px;
  
}

.jm .item1{
  background-color: #354157;
  width: 15%;
}






@media only screen and (max-width:1080px) {
  .btn.btn-style{
    padding: 5px 10px;
  }
  .blink-card{
    width: 33%;
  }
  .investment-left{
    width: 100%;
   }
   .investment-left{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   }
   .investment-right{
    width: 100%;
   }
   .invest-form-text{
    width: 80% !important;
   }
}
@media only screen and (max-width:750px) {
  
  .landing-div{
    padding: 0 1rem;
  }
  .page-style{
    padding: 3rem 1rem !important;
  }
  
  .blink-card{
    width: 48%;
  }
 .investment-left{
  width: 100%;
 }
 .investment-right{
  width: 100%;
 }
 .invest-card .card-body{
  padding: 1rem 0.5rem;
 }
 .invest-btn{
  padding: 5px !important;
 }
}
@media only screen and (max-width:480px) {
  .landing-div{
    padding: 0 0.5rem;
  }
  .page-style{
    padding:3rem 0.5rem !important
  }

  .blink-header button{
    display: none;
  }
  .blink-card{
    width: 96%;
    margin: 0.5rem auto;
    flex-direction: row !important;
    background: none !important;
  }
  .know-card{
    flex-direction: column !important;
  }
  .blink-card .card-top{
    border-radius: 12px !important;
    width: 120px !important;
    height: 100px !important;
    /* width: 40% !important; */
  }
  .blink-card .card-top img{
    width: 120px;
    height: 120px;
    top: 65% !important;
  }
  .blink-card .card-body{
    width: 60% !important;
    background:none !important;
    padding: 0 5px !important;
  }

  .blink-card .card-body a{
display: none;
  }
  .blink-card .card-body h5{
    font-size: 16px;
  }
  .blink-card .card-body p{
    font-size: 12px;
  }
  .investment-left{
    flex-direction: column;
  }
  .invest-card .card-top img{
    width: 120px;
    height: 120px;
  }
  .invest-card .card-body{
    display: none;
    
  }
  .form-input{
    height: 60% !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .form-input input{
    padding: 0.5rem !important;
  }
  .invest-form-div .invest-form-text{
    height: 80% !important;
    width: 100% !important;
  }
  .invest-form-text .btn{
    position: initial !important;
    top: 0 !important;
    right: 0 !important;
    margin-top:1.5rem !important ;
  }
  
}
@media only screen and (max-width:320px) {
  .invest-card .card-top img{
    width: 100px;
    height: 100px;
  }
}